
        * {
            margin: 0px;
            padding: 0;
            box-sizing: border-box;
            font-family: inter;
        }
        
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 20vh;
            background-color: rgb(0, 1, 4)
        }
        
        .container {
            width: 350px;
            border: 2px solid rgb(11, 11, 11);
            background-color: azure;
            border-radius: 25px;
            padding: 40px 30px;
            box-shadow: 20px 20px 25px rgba(39, 35, 35, 0.6);
            height: auto;
        }
        
        .hed {
            font-size: 20px;
            text-align: center;
            margin-bottom: 10px;
            /* font-weight: bold; */
            /* font-family: 'Signika', sans-serif; */
            font-family: 'Secular One', sans-serif;

        }
        
        .boxcontainer {
            display: flex;
        }
        
        p {
            font-size: 1rem;
            color: rgb(64, 106, 141);
            padding: 5px 2px;
            font-family: 'Secular One', sans-serif;
        }
        
        .box1 {
            width: 50%;
            padding: 10px 5px;
            /* border: 1px solid red; */
        }
        
        .takval,
        #unit {
            width: 100%;
            font-size: 22px;
            border: none;
            background-color: transparent;
            outline: none;
            border-bottom: 1px solid rgb(126, 125, 125);
        }
        
        #unit {
            font-size: 1.1rem;
            margin-top: 4.5px;
            font-family: 'Signika', sans-serif;
        }
        
        .valuecontainer {
            margin: 10px 0;
            margin-top: 20px;
        }
        
        .value {
            width: 100%;
            height: 30px;
            margin: 8px 0;
            font-size: 1.4rem;
            border-bottom: 1px solid rgb(126, 125, 125);
        }
        
        .button {
            width: 100%;
            height: auto;
            font-size: 25px;
            color: white;
            background-color: rgb(19, 70, 226);
            border-radius: 20px;
            padding: 10px;
            border: none;
            cursor: pointer;
            margin: 20px 0 0 0;
            font-family: 'Secular One', sans-serif;
        }
        
        .emoji {
            width: 100%;
            text-align: center;
            padding: 10px 0;
        }
        
        .emoji>i {
            color: rgb(253, 174, 37);
            font-size: 3rem;
        }